body{
	color: #000;
	font-size: 1.65em;
}



/* make pod cast blocks same height */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}




/*Top Banner for all pages*/
.title-box {
    background-image: url("../img/background_pattern.jpeg");
    background-repeat: repeat;
    margin-bottom: 0px;

}

.mainbody{
	padding-top: 20px;
	color:#000;
	padding-bottom: 40px;
}

#fluid-nav-bar{
	/* make the nav bar visible when abolutely positioned */
	z-index: 20;
}

/* Center all audio bars */
audio{
	margin-left:10%;
	display: block;
	width: 80% !important;
}

/* Make all apisode images round */
.episode_image{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;/*ensured responsive images sized vertically are still centered*/
}

.pictureGrid{
	text-align: center;
}


/* fix annoying side scroll bug */
.row{
	margin-right: 0px !important;
}



/* Single Episode Styles */
.ie_name{
	text-align: center;
	color: #C41230;
}

.ie_title{
	text-align: center;
	color: #C41230;
}

.ie_bio{
	color: #000;
	background-color: #AAA;
	border-radius: 8px;
	padding: 2.5%;
}

.pod_title{
	text-align: center;
	color: #C41230;
}

.pod_hook{
	text-align: center;
	color: #C41230;
}

.pod_description{
	margin-top: 8%;
}

.episode_date_author{
	font-style: italic;
}

#podcast_transcript{
	max-height: 400px;
	overflow-x: scroll;
	margin-top: 15px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 4px;
}


/* Episode list styles */
.episodebox{
	margin-bottom: 15px;
	height: 100%;
}
.episode{
	height: 100%;
}

.title{
	padding-top:10%;
}

.top-half-of-episode{
	background-color: #AAA;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	padding: 2.5%;
}

.bottom-half-of-episode{
	background-color: #C41230;
	padding-top: 2.5%;

	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;


	padding: 2.5%;
}

/*Footer Styles*/
footer{
	background-color: #c41230;
	color: #000;
}

.footer img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
}

.socialLogos i{
	margin-left: 2%;
}

.socialLogos a{
	color: #000;
}

.socialLogos p {
    font-size: .3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
}

.socialLogos{
	color: #000;
    font-size: 3em;
}

.socialLinks{
	width: 40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hometext img{
	width: 90%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.hometext p{
	font-size: 1.65em;
	margin-top: 5%
}
/**/



.whatisthis h1{
	text-align: center;
}

.whatisthis p{
	font-size: 1.65em;
	margin-bottom: 6%;
	margin-top: 3%;
	padding-right: 2%;

}




/* Nav collapse earlier */
@media (max-width: 991px) {
	.navbar-brand {
		display: block !important;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}





.navbar-toggle .icon-bar{

	color: #000 !important;
}


.navbar-brand{

	margin-left: 6px;
	color: #000 !important;
}

.navbar.navbar-inverse.navbar-fixed-top {
	margin: 0;
	color:#000;
}
.navbar-inverse .navbar-inner {
	background: #eee;
	border: 0;
	color:#000;
}
.navbar-inverse .navbar-inner .container-fluid {
	color: #000;
}

.navbar .nav {
	margin: 5px;
	color: #000 !important;
}
.navbar .nav > li {
	margin-right: 10px;
	border-radius: 4px;
	box-sizing: border-box;
	transition: all .2s linear;
	color: #000;
}
.navbar .nav > li.ison{
	border-bottom: 3px solid #c41230;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{
	background-color: #c41230;
}

.dropdown-menu li,a{
	color: #000 !important;
}


.navbar .nav > li:hover,
.navbar .nav > li:active  {
	background: #c41230;

}
.navbar .nav > li:hover > p,
.navbar .nav > li:hover > p .navbar-link,
.navbar .nav > li:hover > a,
.navbar .nav > li:hover > a:hover,
.navbar .nav > li:hover > a:active {
	color: #000 !important;
}
.navbar .nav > li > p {
	margin: 0;
	padding: 10px 15px;
	color: #000;
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav .ison > a,
.navbar-inverse .nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:active {
	background: transparent;
	color: #000;
	text-shadow: none;
	box-shadow: none;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #000;
	border-bottom-color: #AAA;
}
.navbar-inverse .nav li.dropdown > a:hover .caret {
	border-top-color: #AAA;
	border-bottom-color: #AAA;
}
.navbar-inverse .navbar-link:hover,
.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .nav > li > a:active,
.navbar-inverse .nav .ison > a:hover,
.navbar-inverse .nav .ison > a:focus {
	color: #000;
	background: transparent;
	text-shadow: none;
	box-shadow: none;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.ison > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.ison > .dropdown-toggle {
	color: #000;
	background: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}

.barColor{
	background-color: #AAA;
	color: #000;
}
li{
	color: #000;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.whatIsThis{
	font-size: 1em;
	margin-bottom: 5%;
}
.whyAreWeDoing{
	font-size: 1em;
	margin-bottom: 5%
}

.whatElse img{
	margin-top: 30px;
	margin-bottom: 30px;
}

.center-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}